.page-one{
    height: 960px;
    background: url(img/main-bg.jpg);
    background-size: cover;
}

.row.navbartop {
    width: 100%;
}

.page-two{
    height: 960px;
    background: url(img/the-games-bg.jpg);
    background-size: cover;
}

.carousel-indicators button{
    border: 1px solid white;
    display: inline-block;
    height: 20px;
}

.page-three{
    height: 960px;
    background: url(img/features.jpg);
    background-size: cover;
}

.circle {
    height: 1rem;
    width: 1rem;
    border: 1px solid white;

}

.page-four {
    height: 960px;
    background: url(img/requirements.png);
    background-size: cover;
}

.bg-layer{
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 98%);
    /* position: absolute; */
}

.sys-req::before{
    content: "";
    margin-left: -1vh;
    position: absolute;
    height: 50%;
    width: 42vw;
    background: url(img/bg-sys.svg);
    background-size: 85%;
    background-repeat: no-repeat;
    filter: brightness(2);
    
}


.page-five{
    height:960px;
    background: #111111;
}

.review {
    height: 180px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.1);
}


.evan {
    background: url(img/evan.JPG); 
    
}

.jada {
    background: url(img/jada.jpg); 
    

}


.aaron{
    background: url(img/aaron.jpg);
}
.avatar {
    height: 60px;
    width: 60px;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 12px 4px #FFB548;
    background-size: cover;
}

.page-six{
    height: 960px;
    background:#080A0B;
}

.page-six .content{
    margin-top: 20vh;
}

.skull-img {
    height: 72vh;
    background: url(img/skull.jpg);
    background-size: 100%;
    margin-top: 10vh;

    
}

.skull-overlay{
    margin: -1px 0 0 -1px;
    height: 101%;
    width: 101%;
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%);
}

.row.footer {
    margin-top: 6vh;
}

.email-form{
    height: 6vh;
}
.email-label{
    position: absolute!important;
    display: flex;
    color: #aaa;
    margin: 2px 0 0 12px;

}

.email-form input
{
    height: 100%;
    font-size: 1.5em;
    padding-top: 16px;
    color: #FFB548;
}

.email-form button{
    height: 100%;
    width: 100%;
}

.footer-menu,
.footer-socmed {
    justify-content: space-around;
    
}

.footer-menu li, .footer-socmed li{
    list-style: none;
}

.footer-menu li a{
    text-decoration: none;
    color: inherit;
}



.row.copyright{
    justify-content: center;
    margin-top: 2vh;;
}
.footer-bot{    
    padding: 0;
    width: 84%;
    border-top: 1px solid white;
    display: flex;
}

.footer-bot .quotes {
    color: #aaa
}